<article data-name="article-full-bleed-background">

  <div class="pa3 pa4-ns black-70 f3 times">
    <header class="black pv4">
      <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Contact</h3>
    </header>
    <section class="pt5 bt pb4 w-50 absolute">
      <p class="times lh-copy measure f4 mt0">
        Prasat Suor Prat (Khmer: ប្រាសាទសួព្រ័ត) is a series of twelve towers spanne
        north to south lining the eastern side of royal square in Angkor Thom,
        near the town of Siem Reap, Cambodia. The towers are made from rugged
        laterite and sandstone. The towers are located right in front of
        Terrace of the Elephants and Terrace of the Leper King, flanking the
        start of the road leading east to the Victory Gate, on either side of
        which they are symmetrically arranged. Their function remains unknown.
      </p>
    </section>
    <div class="w-50 fr">
      <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/14522715_10153999504532916_1611553363976120845_n.jpg?oh=45640ec418b24fd5fbfdd4bb4fe28446&oe=58F27561">
    </div>
  </div>
  

</article>